* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import '../css/root.css';
body {
  background-color: var(--bg-blueGray) !important;
}
/* //---------------------------------------------------- Containers */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.header_container {
  width: 98%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.login_container {
  display: flex;
  /* height: 100vh; */
  /* max-height: calc(100vh - 0px); */
  min-height: calc(100vh - 78px);
  /* line-height: 0%; */

  width: 100%;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------------------------------- */

.login_card {
  background: #211137 !important;
  padding: 50px;
  border-radius: 16px !important;
  margin-bottom: 20px;
  width: 430px;
}
.login_titleText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #ffffff;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 18px 0px 0px 0px;
  /* margin-top: 18px; */
}
/* //------------------------------------- */
.form_container {
  flex: none;
  order: 2;

  align-self: stretch;
  flex-grow: 0;
  margin: 18px 0px 0px 0px;
}
/* //---------------------------------------------------- gradient_btn */
.btn_gradient {
  border-radius: 14px !important;
  position: static;
  width: 100%;
  height: 48px;

  align-items: center;
  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  background: linear-gradient(93.61deg, #5c8fff -3.91%, #c14bff 98.39%);
  border: none;

  align-self: stretch;
  flex-grow: 0;
  margin: 15px 0px 0px 0px;
  transition: 0.5s;
}
.btn_gradient:hover {
  background: linear-gradient(93.61deg, #c14bff -3.91%, #5c8fff 98.39%);
  opacity: 1;
}

.subtitle_txt {
  letter-spacing: 0.2px;
  color: #c4d2df;
  position: static;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  top: 38px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.serach_field {
  flex: none;
  flex-grow: 0;
  width: 360px !important;
  height: 40px !important;
  background: #1e293b;
  border-radius: 10px !important;
  align-items: center;
  display: flex;
  border: none !important;
}

.chatContainerFluid {
  width: 98%;
  margin-left: 1%;
  height: 90vh;
  overflow: hidden;
}
.mainContainer {
  height: 85vh;
  overflow: hidden;
}
.chat_row {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 95% !important;
}
.msgBoxHeight {
  height: 85% !important;
}
.msg_heading1 {
  color: white;
  font-family: 'Poppins';
  font-size: 19px;
  margin-top: 15px !important;
  margin-bottom: 25px;
}
/************ Media Quries for min ************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logoWidth {
    width: 100px;
  }
  .header_container {
    width: 94%;
  }
  .login_card {
    padding: 18px !important;
  }
  .icon_position {
    left: 32px !important;
  }
  .iconeye_position {
    right: 32px !important;
  }
  /* -------------------------------------------------navbar*/
  .serach_field {
    flex: auto;
    width: 74% !important;
    height: 40px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .toggleBtnMargin {
    margin-right: 15px !important;
  }
  .navbar_positioning {
    justify-content: center !important;
    padding-right: 1.5%;
    margin-bottom: 8px;
  }
  .bell_balance {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .avatar_postioning {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #serach_field_form_lg {
    display: none;
  }
  #serach_field_form_sm {
    display: block;
  }
  .navbar {
    justify-content: end !important;
  }
  .homeGameCard {
    display: block;
  }
  .homeUpcomingCard {
    display: none;
  }
  /* ------------------------------------------------ */
  .avail_blanace_card {
    margin-top: 10px;
  }
  .serach_field {
    margin-right: 6px;
  }
  .navbar {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .avttar_img {
    width: 100px;
    height: 100px;
  }
  .searchfield_icons {
    padding-left: 15px !important;
    left: 40px !important;
  }
  .game_card_container {
    margin-left: 10px;
  }
  .h_cards_label_txt {
    margin-left: 10px;
  }
  .live_session_triple_btn {
    gap: 4px !important;
  }
  .mainContainer {
    height: 85vh;
    overflow-y: auto !important;
  }

  .msgBoxHeight {
    height: auto;
  }

  .main_div1 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    width: auto !important;
    height: auto !important;
  }

  .first_col {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .setWidth {
    width: 94% !important;
  }
}

.containerContent {
  width: 95%;
  margin-bottom: 70px;
  overflow-y: auto;
  overflow-x: hidden;
}
.content_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg:hover path {
  fill: #c14bff;
}
